@mixin vertical-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin animate($animation,$duration,$method,$times) {
    animation:$animation $duration $method $times

    
}

@mixin keyframes($name) {
    @keyframes #{$name} {
        @content
        
    }
}