@import './Styles/_mixins.scss';
@import './Styles/variables.scss';


.quotes-random-container {
 
    height:300px;
    width:600px;
    margin:auto;
    background-color: aliceblue;
    padding:10px;
    
}

.quote {

    padding:10px;
    height:200px;
    width:450px;
    margin:auto;

}

.quote-content {
    height:150px;
    width:450px;
    text-overflow: clip;
    overflow: scroll;
    margin:auto;
    padding:10px;
}
.author {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}
